<div class='body'>
  <video [autoplay]="true" [muted]="true" [loop]="true" src="../assets/MovieVerse.mp4" ></video>
  <div class='container maint-cnt'>
      <div class="header-nav">
          <span class="mytext1">Movie Verse</span>
      </div>
  </div>
  <div  class='button'>
      <a href='http://localhost:3000/'  class="mainBtn">
          <svg width="277" height="62">
              <defs>
                  <linearGradient id="grad1">
                      <stop offset="0%"  stop-color="#45f3ff"/>
                      <stop offset="100%" stop-color="#45f3ff"  />
                  </linearGradient>
              </defs>
              <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="260" height="45"></rect>
          </svg>
          <span class='LandingPageSpan'>User</span>
      </a>
  </div>
  <div  class='button2'>
    <a href='http://localhost:3001/'  class="mainBtn">
        <svg width="277" height="62">
            <defs>
                <linearGradient id="grad1">
                    <stop offset="0%"  stop-color="#45f3ff"/>
                    <stop offset="100%" stop-color="#45f3ff"  />
                </linearGradient>
            </defs>
            <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="260" height="45"></rect>
        </svg>
        <span class='LandingPageSpan'>Theatre</span>
    </a>
</div>
</div>